:root {
    --primary-color: black;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Prompt', sans-serif;
    margin: 0;

    min-height: 100vh;
  }

  /* Global Stylings */
  label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
  }

  #my-select{
    display: block;
    width: 10px;
  }

  .preview{
    border-radius: 30px;
  }

  .width-50 {
    width: 50%;
  }
  
  .ml-auto {
    margin-left: auto;
  }

.fs-cover {
    background-color: #3F8CFE;
    text-align: initial;
    margin-top: 10px;


    border-radius: 8px;
}

.qr-cover{
  background-color: #343434;
  color: white;
    font-size: 10px;
    height: 25px;
    padding-top: 5px;
    text-align: center;
    margin-top: 20px;
    width: 125px;
    border-radius: 8px;
}

.fs-title {
  font-family: 'Prompt', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    padding-left: 20px;
    padding-top: 10px;
    letter-spacing: 2px;
    font-weight: bolder;
}

.fs-subtitle {
  font-family: 'Prompt', sans-serif;
    font-weight: normal;
    font-size: 13px;
    padding-left: 20px;
    padding-top: 0px;
    color: white;
}

.cover_image{
    border-radius: 12px;
}
  
  .text-center {
    text-align: center;
  }
  
  /* Progressbar */
  .progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 2rem 0 4rem;
  }
  
  .progressbar::before,
  .progress {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
    z-index: -1;
  }
  
  .progress {
    background-color: var(--primary-color);
    width: 0%;
    transition: 0.3s;
  }
  
  .progress-step {
    width: 2.1875rem;
    height: 2.1875rem;
    background-color: #dcdcdc;
    border-radius: 50%;
    border-style: solid;
    border-width: 9px;
    border-color: #dcdcdc;
    background-color: white;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 10px;
  }
  
  .progress-step::before {
    counter-increment: step;
    content: counter(step);
  }
  
  .progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.78rem;
    color: #666;
  }
  
  .progress-step-active {
    background-color: var(--primary-color);
    color: black;
    border-radius: 50%;
    border-style: solid;
    border-width: 6px;
    border-color: black;
  }
  
  /* Form */
  .form {
    margin: 0 auto;
   
   
  }
  
  .form-step {
    display: none;
    transform-origin: top;
    animation: animate 0.5s;
  }
  
  .form-step-active {
    display: block;
  }
  
  .input-group {
    margin: 2rem 0;
  }
  
  @keyframes animate {
    from {
      transform: scale(1, 0);
      opacity: 0;
    }
    to {
      transform: scale(1, 1);
      opacity: 1;
    }
  }
  
  /* Button */
  .btns-group {
    margin-top: 5%;
    margin-left: 72%;
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    gap: 1.5rem;
  }
  
  .btn {
    font-size: 15px;
    display: block;
    text-decoration: none;
    background-color: #3F8CFE;
    color: #f3f3f3;
    text-align: center;
    border-radius: 0.25rem;
    height: 35px;
    width: 85px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .btn:hover {
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color);
  }